In [2]:
import pandas as pd

In [5]:
# Cria um dicionário com autores, preços e títulos
dictionary = {'Autores': ['Rick Riordan', 'J.R.R. Tolkien', 'Rick Riordan', 'Machado de Assís'],
              'Títulos': ['O ladrão de Raios', 'A Sociedade do Anel', 'Mar de Monstros', 'Memórias Postumas de Brás Cubas'],
              'Preços': [41.2, 35.7, 39.5, 40.5]}

In [6]:
# DataFrame
df = pd.DataFrame(dictionary)

In [14]:
df['Autores'][1]

'J.R.R. Tolkien'

In [15]:
df['Autores']

0        Rick Riordan
1      J.R.R. Tolkien
2        Rick Riordan
3    Machado de Assís
Name: Autores, dtype: object

In [18]:
# Média dos preços
df['Preços'].mean()

39.225

In [20]:
mascara = (df['Autores'] == 'Rick Riordan')

In [22]:
df[mascara]

        Autores            Títulos  Preços
0  Rick Riordan  O ladrão de Raios    41.2
2  Rick Riordan    Mar de Monstros    39.5

In [56]:
novo = pd.DataFrame({'Autores': 'Rick Riordan', 'Títulos': 'A Maldiça do Titã', 'Preços': [40.20]})

df = pd.concat([df, novo], ignore_index = True)

In [57]:
mascara_correcao = df['Títulos'] == 'A Maldiça do Titã'

In [58]:
df.loc[mascara_correcao, 'Títulos'] = 'A Maldição do Titã'

In [59]:
df

        Autores             Títulos  Preços
0  Rick Riordan  A Maldição do Titã    40.2
1  Rick Riordan  A Maldição do Titã    40.2